@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.swiper {
  width: 80%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  object-fit: contain;
}
