@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700;800&family=Rampart+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

#title {
  font-family:'Rampart One', cursive ;
  color: rgb(117, 42, 1);
}

#card-title, #services-btn, label{
  font-family: 'Noto Sans JP', sans-serif ;
}

label {
  font-size: large;
}

.swiper {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  object-fit: contain;
  border: 2px solid black;
}
